@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');


* {
  box-sizing: border-box;
}

body {
  background-color: #ffff00;
  color: #FF0000;
  font-family: 'Press Start 2P', cursive;
}


header {
  background: #FF0000;
  color: #ffff00;
  font-size: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  text-align: center;
}


canvas {
  width: 700px;
  height: 500px;
  position: relative;
  display: block;
  border: 2px solid black;
  margin-bottom: 5em;

}

/* Kathryn's code */
h1 {
  font-size: 2em;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  padding: 0.5em;
  background-color: #ffff00;
  color: #FF0000;
  display: flex;
  justify-content: center;
}

p {
  font-size: 1.5em;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  padding: 0.5em;
  color: #008080;
  display: flex;
  justify-content: center;
}



.container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  padding: 5em 10em 0em 10em;
}

.img1{
    width: 10em;
}

.img2{
    width: 6em;
}

.img3 {
  width: 10em;
}


/* nav bar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
}

li {
    float: left;
  }

li a {
  display: block;
  color: #008080;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Press Start 2P', cursive;
  font-size: 1em;
}


/* Css for landing page */
.landing-container {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.main-logo {
  width: 90%;
  max-width: 700px;
}

.start-btn {
  max-width: 250px;
}

.BackButton {
  width: 10%;
}

.HomeButton {
  width: 5%;
  margin-left: 3em;
}

#user-name {
  max-width: 450px;
  padding: 1em 2em;
  border: 10px solid #000080;
  font-family: 'Press Start 2P';
  background: #efefef;
  color: #FF0000;
  font-size: 2em;
  text-align: center;
}

.sign-in {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.lets-go {
  max-width: 250px;
}
}
.lets-go {
  max-width: 250px;
}

.start-btn:hover {
}

/* css for game info page */

.helloUser{
  font-size: 2em;
  font-family: sans-serif;
  text-align: center;
  padding: 0.5em;
  color: #FF0202;
  display: flex;
  justify-content: center;
}

.gameInfo{
  font-size: 1em;
  font-family: sans-serif;
  text-align: left;
  color: #004D77;
  align-items: center;
  justify-content: center;
  max-width: 600px;
}

.img1game {
  float: left;
  padding: 1em 4em;
  width: 100%;
  height: 100%;
}

.rightCol{

  font-size: 2em;
  padding-top: 8em;
  display: flex;
  justify-content: center;
  max-width: 40%;
}

.leftCol{
  display: flex;
  flex-direction: column;
  max-width: 40%;
  align-items: center;
}

.gameInfoContainer{
  display: flex;
  justify-content: space-around;
}

.play-btn{
  max-width: 250px;
  margin: 3em auto;
  display: block;

}
